.btns {
    display: block;
    margin: 0 auto;
}

#main-nav {
    background-color: #294a70;
    border-bottom: 5px solid #f4a024;
    border-top: 5px solid #f4a024;
    display: block;
    width: 100%;
    border-color: #8a5796;
    color: #fff;
    text-align: center;
}

#main-nav h2 {
    margin-bottom: 5px;
}

div#webcam-container {
    margin-top: 20px;
}

.container.mt-5 {
    margin-top: 1rem !important;
}